.info-left {
	float: left;
}

.info-right {
	float: right;
}

.item {
	border: 4px solid black;
	border-spacing: 15px;
}

.jumbotron {
	background-color: #C0392B;
/*	font-weight: bold;*/
	color: black;
	font-style: italic;
}

.price {
	color: white;
	font-weight: bold;
}
.cardStyle {
/*	margin: auto;*/
	color: white;
	font-style: italic;
    border: solid 4px #922B21;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #922B21;
    box-shadow: 10px 5px black;
}